server {
  listen 80;
  location / {
    root /usr/share/nginx/html;
    index index.html index.htm;
    try_files $uri $uri/ /index.html =404;
  }
  location /blog {
    proxy_pass http://thatbrothacodes.wordpress.com/;
  }
  location /demos/angular/ {
    proxy_pass http://34.239.156.238/;
  }
  location /demos/ember/ {
    proxy_pass http://192.0.78.12/;
  }
  location /demos/dotnet/ {
    proxy_pass http://34.204.185.154/;
  }
}